<h1 class="content_header">Billing</h1>
<div class="billing_wrapper">

    <div class="info_section">
        <h2 class="section_title">Your Plan</h2>
        <div class="plan_details">
            <p>
                <span class="billing_plan">Premium</span>
                <span class="billing_plan_period">Monthly</span>
            </p>
            <p class="billing_plan_renewal">Next renewal: $399.00 on December 15, 2015</p>
        </div>
        <a ui-sref="settings.plans" class="button btn_upgrade_plan">Upgrade Plan</a>
    </div>
    <div class="info_section">
        <h2 class="section_title">Payment Details</h2>
        <div class="edit hide">
            <div class="billing_info_edit">
                <p class="payment_section_title">Billing Info</p>
                <div>
                    <input type="text" class="firstname" placeholder="First Name"/>
                    <input type="text" class="lastname" placeholder="Last Name" />
                </div>
                <div>
                    <input type="text" class="street" placeholder="Street" />
                    <input type="text" class="suite" placeholder="Apt./Suite" />
                </div>
                <div>
                    <input type="text" class="locality" placeholder="Locality" />
                    <input type="text" class="city" placeholder="City" />
                </div>
                <div>
                    <input type="text" class="country" placeholder="Country" />
                    <input type="text" class="zip" placeholder="Zip" />
                </div>
                <div>
                    <input type="text" class="phone" placeholder="Phone" />
                </div>
            </div>
            <div class="credit_card_edit">
                <p class="payment_section_title">Credit Card Details</p>
                <div>
                    <input type="text" class="card_number" placeholder="Card Number" />
                    <input type="text" class="expires_on" placeholder="Expires On" />
                    <input type="text" class="cvv" placeholder="CVV" />
                </div>
            </div>
        </div>
        <div class="credit_card">
            <p class="payment_section_title">Credit Card</p>
            <p class="info">**** **** **** 9909</p>
            <p class="info">08/2017</p>
            <a href="#" class="edit_link">Edit Card</a>
        </div>
        <div class="voucher_code">
            <p class="payment_section_title">Voucher Code</p>
            <p class="info">****5615</p>
            <p class="redeemed_on">Redeemed on: August 15, 2015</p>
            <a href="#" class="edit_link">Edit Voucher Code</a>
        </div>
    </div>
    <div class="info_section">
        <h2 class="section_title">Billing Details</h2>
        <div class="billing_details">
            <p>You purchased your plan on</p>
            <p>Your last bill was on</p>
            <p>Your next bill is on</p>
            <p>Your billing interval is</p>
            <p>You will be billed</p>
            <p>Your billing email is</p>
            <a href="#" class="edit_link">Edit billing mail</a>
            <a href="#" class="edit_link">View billing history</a>
        </div>
    </div>

</div>
