<div class="settings_menu">
    <div class="menu_item_container">
        <a ui-sref="settings.account" class="menu_item js-menu_item icon icon_settings_persona">Account</a>
    </div>
    <div class="menu_item_container">
        <a ui-sref="settings.password" class="menu_item js-menu_item icon icon_settings_password">Password</a>
    </div>
    <div class="menu_item_container">
        <a ui-sref="settings.notifications" class="menu_item js-menu_item icon icon_settings_notifications">Notifications</a>
    </div>
    <div class="menu_item_container">
        <a ui-sref="settings.plans" class="menu_item js-menu_item icon icon_settings_plans">Plans</a>
    </div>
    <div class="menu_item_container">
        <a ui-sref="settings.billing" class="menu_item js-menu_item icon icon_settings_billing">Biling</a>
    </div>    
    <div class="menu_item_container">
        <a ui-sref="settings.devices" class="menu_item js-menu_item icon icon_settings_devices">Devices</a>
    </div>    
    <div class="menu_item_container">
        <a ui-sref="settings.advanced" class="menu_item js-menu_item icon icon_settings_advanced">Advanced</a>
    </div>
</div>
