html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
* {
    @include box-sizing(border-box);
}

input, textarea, button {
    &:focus {
        outline: none;
    }
}

.ng-cloak {
    display: none;
}
