// colors
$color1 : #262626;
$color2: #404040;
$color3: #999999;
$highlight-color: #cf202e;

// fonts
$font-normal: 'MuseoSans-100', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$font-normal-italic: 'MuseoSans-100-italic';
$font-bold: 'MuseoSans-300', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$font-bold-italic: 'MuseoSans-300-italic', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$font-extra-bold: 'MuseoSans-500', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$font-extra-bold-italic: 'MuseoSans-500-italic';
$font-super-bold: 'MuseoSans-700', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
$font-super-bold-italic: 'MuseoSans-700-italic';
