.ls_header {
    background-color: $color1;
    height: 55px;
    width: 100%;
    text-align: center;
    @extend %vertical-aligner;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}
.header_left {
   float: left;
   height: 100%;
   @extend %vertical-aligner; 
}
.header_right {
    float: right;
    height: 100%;
    @extend %vertical-aligner; 
}

%header-link {
    font: 13px $font-extra-bold;
    color: #eeeeee;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;   
    @extend %vertical-align-middle;
}
.header_help_link {
    margin-right: 35px;
    @extend %header-link;
}
.watch_events {
    margin-left: 40px;
    @extend %header-link;
}
.header_login_link {
    @extend %header-link;
}
.ls_header_logo {
     @extend %vertical-align-middle;
}

@media screen and (max-width: 767px) {
    .header_help_link, .watch_events {
        display: none;
    }
}
