<header class="ls_header">
    <div class="header_left">
        <img class="ls_header_logo" src=""
            alt="Logo" srcset=""
            width="112"/>
    </div>
    <instant-search items="result"></instant-search>
    <div class="header_right">
        <a href="/help" class="header_help_link">HELP</a>
        <log-in-status ng-cloak></log-in-status>
    </div>
    <label class="mobile_search_icon" for="search_field" data-toggle-dropdown
        data-show-class="open" data-toggle-element=".js-instant_search_wrapper"
        data-active-name="active">
    </label>
</header>
